name: Actions Workflow
on: [push, pull_request]
jobs:
  nessus8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Login to ghcr
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}

      # Setup docker image
      - name: Download the image
        run: docker pull ghcr.io/potatoqualitee/nessus7:latest
      - name: Startup the container
        run: docker run -p 8834:8834 -p 2220:22 --hostname nessus --name nessus -d ghcr.io/potatoqualitee/nessus:latest

      - name: Write nessus license from secrets to disk
        run: 'echo "$NLICENSE" > /tmp/nessus.license'
        shell: bash
        env:
          NLICENSE: ${{secrets.LICENSE}}

      # setup CA certificate trust on runner to emulate prod
      - name: Write CA Cert
        run: 'echo "$CACERT" > /tmp/cacert.pem'
        shell: bash
        env:
          CACERT: ${{secrets.CACERT}}
      - name: Trust the CA
        run: |
          sudo cp /tmp/cacert.pem /etc/ssl/certs/ca.crt
          sudo chmod 644 /etc/ssl/certs/ca.crt
          sudo update-ca-certificates

      # time to party
      - name: Set required PowerShell modules
        id: psmodulecache
        uses: potatoqualitee/psmodulecache@v1
        with:
          modules-to-cache: PSFramework, PoshRSJob
      - name: Setup PowerShell module cache
        id: cacher
        uses: actions/cache@v2
        with:
          path: ${{ steps.psmodulecache.outputs.modulepath }}
          key: ${{ steps.psmodulecache.outputs.keygen }}
      - name: Install required PowerShell modules
        if: steps.cacher.outputs.cache-hit != 'true'
        shell: pwsh
        run: |
          Set-PSRepository PSGallery -InstallationPolicy Trusted
          Install-Module ${{ steps.psmodulecache.outputs.needed }} -ErrorAction Stop
      - name: Initialize the nessus server with admin user and license
        shell: pwsh
        run: |
          Import-Module ./tentools.psd1
          $cred = New-Object -TypeName PSCredential -ArgumentList "admin", (ConvertTo-SecureString -String admin123 -AsPlainText -Force)
          $splat = @{
            ComputerName = "localhost"
            Credential = $cred
            EnableException = $true
            LicensePath = "/tmp/nessus.license"
          }
          Initialize-TNServer @splat
      - name: Run Pester tests
        shell: pwsh
        run: |
          ./tests/pester.ps1
